@font-face {
    font-family: 'DM Sans';
    font-weight: 400 500;
    src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: 400 500;
    font-style: italic;
    src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

h1,
h2 {
    font-weight: 500;
}

:root {
    --purple: hsl(256, 67%, 59%);
    --ligth-purple: hsl(254, 88%, 90%);
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(39, 100%, 71%);
    --light-yellow: hsl(31, 66%, 93%);
    --black: hsl(0, 0%, 7%);
    --background-color: hsl(0, 0%, 95%);

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 100%;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.1;
}

body {
    padding: 30px;
    color: var(--black);
    background-color: var(--background-color);
    margin: 0;

}

img {
    display: block;
}

.container-grid {
    display: grid;
    margin: 2rem auto;
    max-width: 100%;
    align-items: center;
    gap: 2rem;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
    ;
}

@media screen and (min-width: 960px) {
    .container-grid {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        justify-content: center;
        margin: 0;
        gap: 0;
        align-items: stretch;
        grid-template-areas:
            "seven one one four"
            "seven two three four"
            "eight two three four"
            "eight six five five";

    }
}

.container-grid div {
    overflow: hidden;
    border-radius: 15px;
    margin: 0.8rem;
}


.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    grid-area: one;
    padding: 1rem;
    font-size: 2rem;
    place-items: center;
    padding-top: 0.5rem;
    text-align: center;
    background-color: var(--purple);
}

.card-1 h1 span:nth-of-type(1) {
    color: var(--yellow);
}

.card-1 h1 span:nth-of-type(2) {
    font-style: italic;
}

.card-1 img {
    max-width: 90%;

}

.card-1 p {
    font-size: 1.2rem;
    padding-top: 1rem;
}

@media screen and (min-width: 960px) {
    .card-1 {
        font-size: 1.5rem;
        padding: 0rem 2rem 0rem 1rem;
    }

    .card-1 img {

        max-width: 70%;
        padding: 0 0;

    }

    .card-1 p {
        padding: 0 0;
    }
}

.card-2 {
    padding: 1.4rem 0.1rem 0.1rem 1.8rem;
    grid-area: two;
    background-color: var(--white);
    font-size: 1.25rem;
}

.card-2>img {
    filter: drop-shadow(0 0 1rem hsl(0 0% 0% / .125));
    border-radius: 100vw;
    max-width: 90%;
}

@media screen and (min-width: 960px) {
    .card-2 {
        overflow: hidden;
    }

    .card-2 img {
        max-width: 140%;
    }
}


.card-3 {
    background-color: var(--yellow);
    grid-area: three;
    padding: 0.135rem 2.5rem 0 1.25rem;
}

.card-3 img {
    max-width: 70%;
}

h2 {
    font-size: 2rem;
}

@media screen and (min-width: 960px) {
    .card-3 {
        padding: 0 0 0 0;
        position: relative;
        overflow: hidden;
    }

    .card-3 h2 {
        padding-left: 1rem;
        font-size: 1.8rem;
    }

    .card-3 img {
        padding: 0 2.5rem 0 1rem;
        max-width: 110%;
        position: absolute;
        top: 177px;
    }
}

.card-4 {
    background-color: var(--ligth-purple);
    grid-area: four;
    text-align: center;
    padding: 1rem 0.1rem 1rem 2rem;
}

.card-4>img {
    max-width: 85%;
    padding-left: 2rem;
}

.card-4>h2 {
    font-weight: 580;
    font-size: 2rem;
    padding-right: 2rem;
}

p {
    font-weight: 300;
    font-size: x-large;
    padding: 1rem 2rem 0rem 1rem;
}

@media screen and (min-width: 960px) {
    .card-4 {
        position: relative;
        padding: 1rem 0rem 0rem 1.5rem;
        text-align: left;
    }

    .card-4 h2 {
        font-size: 1.7rem;
        padding: 0%;
    }

    .card-4 img {
        position: absolute;
        left: 10px;
        max-width: 140%;
        height: 300px;
    }

    .card-4 p {
        position: absolute;
        top: 400px;
        font-size: 1.1rem;
        font-weight: 2rem;
        padding: 1rem 1rem 0 0;
    }
}



.card-5 {
    background-color: var(--purple);
    grid-area: five;
    color: var(--white);
    text-align: center;
    padding: 1rem 1.5rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-5>img {
    max-width: 50%;
}

.card-5 h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

@media screen and (min-width: 960px) {
    .card-5 {
        flex-direction: row;
        gap: 2rem;
    }

    .card-5 img {
        max-width: 50%;
    }

    .card-5 h2 {
        font-size: 1.7rem;
        text-align: start;
        margin-left: 0rem;
    }
}



.card-6 {
    background-color: var(--white);
    grid-area: six;
    padding: 1rem 3rem 1rem 1rem;
}

.card-6 h2 {
    font-weight: 300;
    font-size: 1.25rem;
}

.card-6 span {
    font-weight: 500;
    font-size: 3rem;
}

.card-6 img {
    max-width: 40%;
}

@media screen and (min-width: 960px) {
    .card-6 {
        padding: 1rem 0rem 1rem 1rem;
    }

    .card-6 img {
        max-width: 80%;
        padding-top: 2rem;
    }

    .card-6 h2 {
        font-size: 1rem;
    }

    .card-6 span {
        font-size: 2rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}


.card-7 {
    background-color: var(--light-yellow);
    grid-area: seven;
    padding: 1rem 1rem 1rem 2.5rem;
}

.card-7 img {
    max-width: 50%;
}

.card-7 h2 {
    font-size: xx-large;
}

.card-7 span {
    font-style: italic;
    color: var(--purple);
}

@media screen and (min-width: 960px) {
    .card-7 h2 {
        font-size: 2rem;
    }

    .card-7 img {
        padding-top: 1.5rem;
        max-width: 90%;
    }

}

.card-8 {
    background-color: var(--yellow);
    grid-area: eight;
    padding: 0.1rem 1rem 1rem 1.5rem;
}

.card-8 img {
    max-width: 58%;
}

.card-8 h2 {
    font-size: xx-large;
    padding-right: 6rem;
}

@media screen and (min-width: 960px) {
    .card-8 h2 {
        font-size: 2rem;
        padding-right: 0
    }

    .card-8 img {
        max-width: 100%
    }
}
